{{ define "nav-header" }}
    <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/abdulaziz-yusupov-7972152ba/">Linkedin</a>
            <a class="nav-link" target="_blank" href="https://github.com/Abdulazizdev09">GitHub</a>
                <a class="nav-link" target="_blank" href="yusupovabdulaziz09@gmail.com">Email</a>
        </nav>
    </div>
{{end}}